<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <% if current_user.can_manage? %>
      <p>
        <%= link_to "Show this book", book %>
      </p>
    <% else %>
      <br>
    <% end %>
  <% end %>
</div>

<% if current_user.can_manage? %>
  <%= link_to "New book", new_book_path %>
<% end %>
