<div id="<%= dom_id step %>">
  <div>
    <strong>Enabled:</strong>
    <%= step.enabled %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= step.name %>
  </div>

  <div>
    <strong>Cabinet:</strong>
    <%= @cabinet_list[step.cabinet_id] %>
  </div>

</div>
