<div id="<%= dom_id cabinet %>">
  <div>
    <strong>Enabled:</strong>
    <%= cabinet.enabled %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= cabinet.name %>
  </div>

  <div>
    <strong>Floor:</strong>
    <%= @floor_list[cabinet.floor_id] %>
  </div>

</div>
