<div id="<%= dom_id log %>">
  <div>
    <strong>Status:</strong>
    <%= @status_list[log.status] %>
  </div>

  <div>
    <strong>Book:</strong>
    <%= @book_list[log.book_id] %>
  </div>

  <div>
    <strong>User:</strong>
    <%= @user_list[log.user_id] %>
  </div>

</div>
