<div id="<%= dom_id log %>">
  <div>
    <strong>Status:</strong>
    <%= log.status %>
  </div>

  <div>
    <strong>Book:</strong>
    <%= log.book_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= log.user_id %>
  </div>

</div>
